{#{% for item in data %}#}
{#    <p>{{ item.name }}:{{ item }}</p>#}
{#    {% for row in item %}#}
{#        <p>{{ row.0 }}:{{ row.1 }}</p>#}
{#    {% endfor %}#}
{#{% endfor %}#}

<form method="POST" novalidate>
    {% csrf_token %}
    {% for col in form_data %} <!--show_add_edit_form 封装后的数据[{}]-->
        {% if col.is_popup %}  <!--当是FK和M2M的时候，增加popup-->
            <p>
                {{ col.item.field.label }}
                {{ col.item }}
                <a href="#" onclick="popupUrl('{{ col.popup_url }}')">添加</a>
                {{ col.item.errors.0 }}
            </p>
        {% else %}
            <p>
                {{ col.item.field.label }}
                {{ col.item }}
                {{ col.item.errors.0 }}
            </p>
        {% endif %}
    {% endfor %}
    <input type="submit" value="提交">
</form>

<script>
       //function 接收参数 url
    function popupUrl(url) {
        window.open(url, "x1", "status=1,height=500,width=600,toolbar=0,resizeable=0");
        // 设置popup的长度宽度 height=500,width=600
    }
    //发起popup页面的函数，在response中的opener中调用
    //生成option标签并设置属性
    //popupCallBack1 用于接收response.html页面发送的过来的数据
    function popupCallBack1(popid, opid, optext) {
        var tag = document.createElement('option');
        tag.innerHTML = optext;
        tag.setAttribute('value', opid);
        tag.setAttribute('selected', 'selected');// 默认选中添加的选项
        document.getElementById(popid).appendChild(tag); // ug_ID最终传回来，通过id找到要添加的标签
    }
</script>
