{#{% for item in data %}#}
{#    <p>{{ item.name }}:{{ item }}</p>#}
{#    {% for row in item %}#}
{#        <p>{{ row.0 }}:{{ row.1 }}</p>#}
{#    {% endfor %}#}
{#{% endfor %}#}

<form method="POST" novalidate>
    {% csrf_token %}
    {% for col in form_data %} <!--show_add_edit_form 封装后的数据[{}]-->
        {% if col.is_popup %}  <!--当是FK和M2M的时候，增加popup-->
            <p>
                {{ col.item.field.label }}
                {{ col.item }}
                <a href="{{ col.popup_url }}">添加</a>
                {{ col.item.errors.0 }}
            </p>
        {% else %}
            <p>
                {{ col.item.field.label }}
                {{ col.item }}
                {{ col.item.errors.0 }}
            </p>
        {% endif %}
    {% endfor %}
    <input type="submit" value="提交">
</form>

